In [1]:
%load_ext autoreload
%autoreload 2

In [2]:
from subprocess import check_output, check_call
from glob import glob

import machine
import atlas

from config import paths

In [3]:
njobs = 2067 # jobs

nodes_per_job = 7
hours_per_job = 10

concurrent_jobs = 140
nodes_reserved = nodes_per_job * concurrent_jobs


print(f"reservation N nodes: {nodes_reserved}")
print(f"reservation hours: {njobs / concurrent_jobs * hours_per_job}")

reservation N nodes: 980
reservation hours: 147.64285714285714

In [4]:
building_cases = machine.building_jobids()
len(building_cases)

0

In [5]:
cdr_forcing = "DOR"
vintage = "001"
phase = "deploy"
clobber = False

calc = atlas.global_irf_map(cdr_forcing, vintage)

shit.

In [6]:
%%time
calc._refresh_case_status()        
df = calc.df_case_status
df

CPU times: user 1.05 s, sys: 628 ms, total: 1.68 s
Wall time: 13.5 s

,build,submitted,run_completed,archive,error,error_count,JobId,JobState,Queued,yr_per_day,pe-hr_per_yr
case,,,,,,,,,,,
smyle.cdr-atlas-v0.control.001,True,True,True,True,False,0,None,None,False,45.61,471.47
smyle.cdr-atlas-v0.glb-dor_North_Atlantic_basin_000_1999-01-01_00000.001,True,True,True,True,False,0,None,None,False,58.82,365.62
smyle.cdr-atlas-v0.glb-dor_North_Atlantic_basin_000_1999-04-01_00001.001,True,True,True,True,False,0,None,None,False,59.00,364.49
smyle.cdr-atlas-v0.glb-dor_North_Atlantic_basin_000_1999-07-01_00002.001,True,True,True,True,False,0,None,None,False,58.89,365.17
smyle.cdr-atlas-v0.glb-dor_North_Atlantic_basin_000_1999-10-01_00003.001,True,True,True,True,False,0,None,None,False,58.94,364.83
...,...,...,...,...,...,...,...,...,...,...,...
smyle.cdr-atlas-v0.glb-dor_Southern_Ocean_038_1999-10-01_02755.001,True,False,False,False,False,0,None,None,False,NaN,NaN
smyle.cdr-atlas-v0.glb-dor_Southern_Ocean_039_1999-01-01_02756.001,True,False,False,False,False,0,None,None,False,NaN,NaN
smyle.cdr-atlas-v0.glb-dor_Southern_Ocean_039_1999-04-01_02757.001,True,False,False,False,False,0,None,None,False,NaN,NaN
smyle.cdr-atlas-v0.glb-dor_Southern_Ocean_039_1999-07-01_02758.001,True,False,False,False,False,0,None,None,False,NaN,NaN
smyle.cdr-atlas-v0.glb-dor_Southern_Ocean_039_1999-10-01_02759.001,True,False,False,False,False,0,None,None,False,NaN,NaN

In [7]:
sum(df.build.to_list())

2761

In [8]:
sum(df.archive.to_list()) # 1980

1980

In [9]:
sum(df.Queued.to_list())

0

In [10]:
clobber_list = calc.check_cases()
len(clobber_list)

0

In [11]:
n = 0
for case in clobber_list:
    log_files = sorted(glob(f"{paths['scratch']}/{case}/run/cesm.log.????????.??????-??????"))
    if not log_files: 
        print(f"{case}: no log")
        continue

    log_file = log_files[-1]
    n += 1
        
    with open(log_file, "r") as fid:
        lines = fid.readlines()
    CANCELLED = any(["CANCELLED" in l for l in lines])
    print(f"{case}: CANCELLED: {CANCELLED}")